.custom-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 16px;
}

.toolbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* para empurrar o botão da esquerda e a spacer da direita */
}

.toolbar-icon {
  font-size: 26px;
  margin-right: 12px;
}

.toolbar-title {
  font-size: 2rem;
  font-weight: 700;
  color: #673ab7;
}

.menu-button {
  z-index: 1; /* garante que fique sobre o flex central */
}

.spacer {
  width: 40px; /* mantém espaço do outro lado */
}

.main-container {
  padding: 24px;
}
