body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

.mat-toolbar {
  background-color: #ffffff !important;
  color: #333 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

button.mat-flat-button {
  border-radius: 8px;
  font-weight: 500;
}

.mat-dialog-container {
  border-radius: 12px;
}
